In [54]:
import pandas as pd
import numpy as np

In [55]:
move=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [56]:
df=move.merge(credits,on='title')

In [57]:
df= df[['movie_id','title','overview','genres','keywords','cast','crew']]

In [58]:
import ast

In [59]:
def convert(x):
    L=[]
    for i in ast.literal_eval(x):
        L.append(i['name'])
    return L

In [60]:
df['genres']=df['genres'].apply(lambda x:convert(x))

In [61]:
df['keywords']=df['keywords'].apply(convert)

In [62]:
df['cast']=df['cast'].apply(convert)

In [63]:
def  convert1(x):
    count=0
    L=[]
    for i in ast.literal_eval(x):
        if count<3:
            L.append(i['name'])
            count=count+1
        else:
            break
    return L

In [64]:
df

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance]",[],"[Edward Burns, Kerry Bishé, Marsha Dietlein, C...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi...","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,[Documentary],"[obsession, camcorder, crush, dream girl]","[Drew Barrymore, Brian Herzlinger, Corey Feldm...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [65]:
df['crew']=df['crew'].apply(convert1)

In [66]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [67]:
df['cast'] = df['cast'].apply(collapse)
df['crew'] = df['crew'].apply(collapse)
df['genres'] = df['genres'].apply(collapse)
df['keywords'] = df['keywords'].apply(collapse)

In [68]:
df['overview']=df['overview'].astype(str)

In [69]:
df['overview']=df['overview'].apply(lambda x:x.split())

In [70]:
df['tags']=df['overview']+df['genres']+df['keywords']+df['cast']+df['crew']

In [71]:
new_df=df.drop(columns=['overview','genres','keywords','cast','crew'])

In [72]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [73]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [74]:
import string
punc_list=string.punctuation

In [75]:
new_df['tags']=new_df['tags'].apply(lambda x:x.translate(str.maketrans('','',punc_list)))

In [76]:
from nltk.stem.porter import PorterStemmer

In [77]:
def strm(x):
    y=[]
    for i in x.split():
        y.append(PorterStemmer().stem(i))
    return " ".join(y)

In [78]:
new_df['tags']=new_df['tags'].apply(strm)

In [79]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

vectors=cv.fit_transform(new_df['tags']).toarray()

from sklearn.metrics.pairwise import cosine_similarity

similarity=cosine_similarity(vectors)

In [80]:
def recommend(move):
    move_index=new_df[new_df['title']==move].index[0]
    
    move_list=sorted(list(enumerate(similarity[move_index])),reverse=True,key=lambda x:x[1])[1:6]
    for i in move_list:
        print(new_df.iloc[i[0]].title)

In [81]:
import pickle

In [84]:
pickle.dump(similarity,open('similarity.pkl','wb'))